{% extends 'base.html.twig' %}

{% block body %}

<h2> {% trans from "formularios" %}Editar Perfil{% endtrans %} </h2>

	<div id="forms">
	<ul>
		<li id="link_lista"><a href="{{path('change_password',{username : user.username})}}">
		{% trans from "formularios" %}Cambiar {% endtrans %} password</a></li>
		{{form_start(form)}}
		
		<li>{% trans from "formularios" %}Nombre{% endtrans %}</br>{{form_widget(form.nombre, {'attr':{'value':user.nombre}})}}</li>
		<li>{% trans from "formularios" %}Apellidos{% endtrans %}</br>{{form_widget(form.apellidos, {'attr':{'value':user.apellidos}})}}</li>
		<li>{% trans from "formularios" %}Dirección{% endtrans %}</br>{{form_widget(form.direccion, {'attr':{'value':user.direccion}})}}</li>
		<li>{% trans from "formularios" %}Población{% endtrans %}</br>{{form_widget(form.ciudad, {'attr':{'value':user.ciudad}})}}</li>
		<li>{% trans from "formularios" %}Código Postal{% endtrans %}</br>{{form_widget(form.cp, {'attr':{'value':user.cp}})}}</li>
		<div class="error_validacion">{{form_errors(form.cp)}}</div>
		<li>{% trans from "formularios" %}Teléfono{% endtrans %}</br>{{form_widget(form.telefono, {'attr':{'value':user.telefono}})}}</li>
		<div class="error_validacion">{{form_errors(form.telefono)}}</div>
		<li>Email</br>{{form_widget(form.email, {'attr':{'value':user.email}})}}</li>
		<div class="error_validacion">{{form_errors(form.email)}}</div>
		
		
		</br>
		<li>{{form_widget(form.editar_perfil)}}</li>

		{{ form_end(form) }}
		
	</ul>
	
	</div>
	<div class="clear"></div>


{% endblock %}