{% extends 'base.html.twig' %}

{% block body %}

<h2> {% trans from "formularios" %}Mi Perfil {% endtrans %}</h2>

<div id="ver_perfil">
	<ul>
		<li>Username:<span class="texto">{{user.username}}</span></li>
		<li>{% trans from "formularios" %}Nombre{% endtrans %}:<span class="texto">{{user.nombre}}</span></li>
		<li>{% trans from "formularios" %}Apellidos{% endtrans %}:<span class="texto">{{user.apellidos}}</span></li>
		<li>{% trans from "formularios" %}Dirección{% endtrans %}:<span class="texto">{{user.direccion}}</span></li>
		<li>{% trans from "formularios" %}Población{% endtrans %}:<span class="texto">{{user.ciudad}}</span></li>
		<li>{% trans from "formularios" %}Código Postal{% endtrans %}:<span class="texto">{{user.cp}}</span></li>
		<li>{% trans from "formularios" %}Teléfono{% endtrans %}:<span class="texto">{{user.telefono}}</span></li>
		<li>Email:<span class="texto">{{user.email}}</span></li>
		</br>
		<li><a href="{{path('edit_profile',{username : user.username})}}">
		{% trans from "formularios" %}Editar Perfil{% endtrans %}</a></li>
		<div class="clear"></div>
		

	</ul>	
	</div>

{% endblock %}