{% extends 'base.html.twig' %}

{% block body %}

<h2> {% trans from "tablas" %}Gestión de Productos {% endtrans %}</h2>

	<div id="tabla">
	<table>
		<tr>
			<th>{% trans from "tablas" %}Código{% endtrans %}</th>
			<th>{% trans from "tablas" %}Artículo{% endtrans %}</th>
			<th>Stock</th>
			<th>{% trans from "formularios" %}Precio{% endtrans %}</th>
			<th>{% trans from "formularios" %}Descuento{% endtrans %}</th>
			<th colspan=3>{% trans from "tablas" %}Acciones{% endtrans %}</th>
			
		</tr>
		{% for producto in productos %}	
		{% if producto.getIsActive %}
		<tr>
			<td> {{producto.id}} </td>
			<td> {{producto.nombre}}</td>
			<td> {{producto.cantidad}} </td>
			<td> {{producto.precio}} € </td>
			<td> {{producto.descuento}}% </td>
			<td class="editar"><a href="{{path('edit_product',{id : producto.id})}}">
			{% trans from "tablas" %}Editar{% endtrans %}</a></td>
			<td class="eliminar"><a href="{{path('delete_product',{id : producto.id})}}">
			{% trans from "tablas" %}Eliminar{% endtrans %}</a></td>
			{% if producto.vendiendo == false %}
			<td class="vender"><a href="{{path('sell_product',{id : producto.id})}}">
			{% trans from "tablas" %}Poner a la venta{% endtrans %}</a></td>
			{% else %}
			<td class="quitar"><a href="{{path('quit_sell_product',{id : producto.id})}}">
			{% trans from "tablas" %}Quitar oferta{% endtrans %}</a></td>
			{% endif %}
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	</div>
	
{% endblock %}